/* All pages */
body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: 2;
}

/* Navigation bar all pages */
header {
  display: flex;
  justify-content: space-between;
  background-color: #868b8e;
  align-items: flex-end;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #fff1e8;
}

.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-menu li:not(:first-child) {
  margin-left: 0.625rem;
}

.nav-menu li a {
  font-weight: bold;
  color: #fff1e8;
  text-decoration: none;
  display: block;
  padding: 1rem;
}

.project-logo{
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

/* footer all pages */
.footer {
  padding-top: 1.25rem;
  flex-shrink: 0;
  color: #fff1e8;
  background: #868b8e;
  text-align: center;
}

.footer a {
  color: #fff1e8;
  padding: 0 10px
}

/* main page content */
.content {
  flex: 1 0 auto;
  color: #868b8e;
  background-color: #fff1e8;
  text-align: center;
}

.circular-my-img {
  border-radius: 100%;
  width: 18%;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.my-name {
  font-size: 2rem;
  /* font-size: 100% =16px=1em, 90px/16px, rem  */
  /* font-family: 'Sacramento', cursive; */
  font-family: 'Merriweather', serif;
  margin: 1.125rem auto 0 auto;
}

.profile-description {
  width: 75%;
  margin: auto;
}

.main-page-link{
  color:#868b8e;
}
a:hover{
  color: blue;
}
hr {
  border: dotted #e6e7e8 0.375rem;
  border-bottom: none;
  width: 4%;
  margin: 4.25rem auto;
}

/* MY skills */
.flaticon {
  font-size: 0.525rem;
  color: #868b8e;
}

.flaticon a {
  color: #868b8e;
}

.skill-row {
  width: 75%;
  margin: 100px auto;
  display: flex;
}

.skill-row-right {
  justify-content: space-between;
}

.image-right {
  align-items: flex-end;
}

.image {
  display: flex;
  flex-direction: column;
}

.skill-description-left {
  padding-left: 3.75rem;
  text-align: left;
}

.skill-description-right {
  padding-right: 3.75rem;
  text-align: left;
}

.image img{
  width: 10.5rem;
}
